name: Build & Release

on:
  pull_request:
    branches: [ "master" ]

jobs:
  
  build-installer:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish app
        run: |
          dotnet restore sources/App/App.csproj
          dotnet publish sources/App/App.csproj `
            -c Release `
            -r win-x64 `
            --self-contained true `
            -o build/win

      - name: Install Inno Setup
        run: choco install innosetup -y

      - name: Build installer
        run: |
          "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" installer\installer.iss

      - name: Upload installer artifact
        uses: actions/upload-artifact@v4
        with:
          name: MonkeySpeakSetup
          path: Output/MonkeySpeakSetup.exe
  
  build-backend:
    needs: build-installer
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download installer
        uses: actions/download-artifact@v4
        with:
          name: MonkeySpeakSetup
          path: sources/Backend/wwwroot/download

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push backend
        run: |
          docker build -t ghcr.io/${{ github.repository }}/backend:latest .
          docker push ghcr.io/${{ github.repository }}/backend:latest
