name: Build & Release

on:
  pull_request:
    branches: [ "master" ]

jobs:
  
  test-backend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore
        run: dotnet restore

      - name: Run backend tests
        run: dotnet test sources/Backend.Tests/Backend.Tests.csproj